.sideBar {
  background: var(--background-dark);

  height: 100vh;

  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @media screen and (max-width:900px) {
    display: none;
  }
  a {
    height: 120px;

    flex-shrink: 0;

    writing-mode: vertical-lr;
    font-size: var(--text-sm);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

    border-right: 1px solid transparent;

    transition: 0.1s all;
    width: 100%;
  }

  a:hover {
    background: var(--green);
    border-right: 3px solid var(--text);
    opacity: 1;
  }

  .selected {
    background: var(--green);
    border-right: 3px solid var(--text);
    opacity: 1;
  }
}

.logo {
  flex-shrink: 0;

  font-size: var(--text-md);
  font-weight: 900;
  line-height: 1;

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--red);
  border-radius: 100px ;

  margin: 1.8rem 0;
  border-radius: 100px ;

  div {
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
    color: var(--brand);

  }
  .logo-krishna{
    border-radius: 50%;
  }
}

.sideBar::-webkit-scrollbar {
  display: none;
}
