/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit:wght@300&family=Lato&family=Pacifico&family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+sans&family=Kanit:wght@300&family=Lato&family=Pacifico&family=Permanent+Marker&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-size: 62.5%;

  /* --background: rgb(37,150,190); */
  --background: #f5e5e500;
  --bg-opaque: rgba(255, 255, 255, 0);
  --background-light: rgba(248, 248, 248, 0);
  --background-dark: rgb(255, 254, 254);

  /* --text: rgb(2, 30, 100); */
  /* --text: #201b4c;
  --brand: #419cbb;
  --chip:rgb(37, 150, 216); */
  --text: #093270;
  --brand: #a51414;
  --green: #f0d0d0;
  --red:rgb(255, 9, 34);
  --chip:rgb(37, 150, 216);

  --text-xs: 2.0rem;
  --text-sm: 2.0rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
  /* font-family: 'Nova Square', sans-serif !important; */
  /* font-family: 'Lato', sans-serif; 
  
  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Fira Sans', sans-serif;



}

*::selection {
  /* background: var(--brand); */
  /* color: '#2596be', */
  /* color: rgb(28, 14, 14); */
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
  /* font-family: 'Roboto', sans-serif; */
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar{
  background-color: var(--background);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--brand);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  /* padding: 9.6rem; */
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--chip);
  color:aliceblue;
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}


.chip:hover {
  font-size: var(--text-xs);
  background: var(--brand);
  color:aliceblue;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.);
}
@tailwind base;
@tailwind components;
@tailwind utilities;